//Brand Colors
$charcoal: #323232;
$red: #D64541;
$off-white: #F7FAFE;
$seafoam: #A2DED0;
$main-font: 'Muli', sans-serif;
$title-font: 'Raleway,' sans-serif;

//Style
.navbar {
  background-color: rgba(0,0,0,.7);
  border: none;
  border-radius: 0px;
}

.jumbotron {
  background-color: $charcoal;
  background-image: url("barista.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 170px 0;
  color: #D64541;
}

#mission {
  background-color: $charcoal;
  color: #f7fafe;
  font: $title-font;
  font-size: 1.7em;
  font-weight: 500;
  padding: 40px 0;
}

#features {
  background-color: $seafoam;
  padding: 20px 0;
  font-family: $main-font;
  font-size: 1.1em;
}

#feat_image {
  margin-bottom: 10px;
}

footer{
  color: #fff;
  background-color: #D64541;
  padding: 30px 0;

  a{
    color: #fff;
    margin-left: 10px;
  }
}

.social {
  .fa-facebook-official:hover {
    text-decoration: none;
    color: #3b5998;
  }

  .fa-twitter:hover {
    text-decoration: none;
    color: #55acee;
  }

  .fa-instagram:hover {
    text-decoration: none;
    color: #3f729b;
  }
}

@media only screen and (max-width: 465px) {
  footer a {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 372px) {
  footer {
    font-size: 0.8em;
    a {
      margin: 0;
    }
  }
}
