.jumbotron {
  background-image: url("barista.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 170px 0;
  color: #D64541 ;

}

#welcome{
  display:;
}

#mission {
  background-color: #323232;
  color: #f7fafe;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  font-weight: 500;
  padding: 40px 0;
}

#features {
  background-color: #A2DED0;
  padding: 20px 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.1em;
}

#feat_image {
  margin-bottom: 10px;
}